.cellTime {
	font-family: HelveticaNeue;
	font-size: 8px;
	color: #373737;
	max-width: 50px;
	user-select: none;
}
.cellDay {
	font-family: Roboto;
	font-size: 18px;
	color: #000000;
	user-select: none;
	position: fixed;
}
.selectedCell {
	color: #fff;
	user-select: none;
	font-size: 11px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-family: Roboto;
}
