{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry"
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		["lodash", { "id": ["lodash", "recompose"] }]
	],
	"env": {
		"production": {
			"plugins": ["transform-react-remove-prop-types"]
		}
	},
	"exclude": ["*.scss"]
}
