.container {
	min-height: 70vh;
	min-width: 50%;
	height: 70vh;
	.formTitle {
		height: 45%;
		background: linear-gradient(to right, #22c3ff, #1c72ff 76%);
		height: 45%;
		border-radius: 0 0 50% 50% / 0 0 100% 100%;

		.formStar {
			background-color: white;
			position: relative;
			align-items: center;
			background-size: auto;
			top: -22%;
			background-position: center;
			// top: 977px;git
			right: -42%;
			border-radius: 50%;
			width: 138px;
			height: 138px;
			box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.25);
			border: solid 2px #ffffff;
		}
		.formStarsmall {
			background-color: white;
			position: relative;
			background-size: auto;
			top: -65%;
			background-position: center;
			// top: 977px;git
			right: -44%;
			border-radius: 50%;
			width: 5px;
			height: 5px;
		}
		.formStarxsmall {
			background-color: white;
			position: relative;
			background-size: auto;
			top: -81%;
			background-position: center;
			// top: 977px;git
			right: -50%;
			border-radius: 50%;
			width: 5px;
			height: 5px;
		}
		.formTitleText {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			object-fit: contain;
			font-size: 60px;
			font-weight: 900;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
		}
	}

	.formInputs {
		text-align: center;
		padding-top: 100px;
		height: 34px;
		object-fit: contain;
		font-family: Helvetica;
		font-size: 36.1px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.17;
		letter-spacing: 0.51px;
		color: #cccccc;
		height: 35%;
		.inputRatingStar {
			margin-top: 25px;
			margin-bottom: 30px;
			width: 55px;
			margin-left: 25px;
			margin-right: 25px;
		}
		.TextField {
			width: 500px;
			input {
				font-size: 30px;
			}
		}
	}
	.formSubmit {
		height: 20%;
		text-align: right;
		.button {
			margin-left: 20px;
			background-color: #4688f1;
		}
	}
}
