.title {
  background-color: #ffffff;
  color: #333333;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
  line-height: 1.45;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-left: 40px;
};
.paragraph{
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
  padding-top: 15pt;
    padding-bottom: 0pt;
    line-height: 1.45;
    orphans: 2;
    widows: 2;
    text-align: left;
};
ol {
  list-style-type: none;
};
