.timeContainer {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	font-size: 15px;
	font-family: Roboto;
}

.time_day-name {
	display: flex;
	justify-content: space-between;
}

.time_day-name__items {
	margin: 0 10px 10px;
}

.time_day__weekday {
	font-size: 1.4em;
}
.time_day-slider {
	color: rgb(182, 182, 182);
	align-items: center;
}

.time_day__button-calendar {
	color: rgb(182, 182, 182);
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.time_day__date {
	margin-right: auto;
	color: #000;
}

.time_day-block {
	display: flex;
	justify-content: space-between;
}

.time_day__button {
	outline: none;
	margin: 0 10px;
	cursor: pointer;
	text-transform: uppercase;
}

/* .time_day__button:hover {
    color: #1f9bff
} */
.time_day__button-confirm {
	color: #1f9bff;
}
.time_day__button-cancel {
	color: #000;
}

.time_day_confirm-block {
	justify-content: flex-end;
	margin-bottom: 10px;
}
