$size: 50px;

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(227, 227, 227);
    background-position: center;
    height: $size;
    width: $size;
    border-radius: 50%;
}
.iconDefault {
    height: $size;
    width: $size;
    border-radius: 50%;
    background-image: url('../../static/images/empty_ava.png');
    background-size: 68%;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.image {
    background-size: cover;
}
