.icon {
  border-radius: 1000px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(227, 227, 227);
  background-position: center;
}
.iconDefault {
  background-image: url("../../static/images/avatar_icon.svg");
  min-height: 50px;
  min-width: 50px;
  height: 50px;
  width: 50px;
}
