.confirmedEvent {
    z-index: 2;
    background: #62c9be;
    margin: 2px;
    border-radius: 5px;
}
.orderEvent {
    z-index: 2;
    margin: 2px;
    background: #ffffff;
    border: 1px solid #61c9be;
    box-sizing: border-box;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container {
    padding: 10px;
    .confirmedTime {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
    }
    .orderedTime {
        font-size: 12px;
        font-weight: 500;
        color: #000;
    }
    .confirmedTitle {
        margin-top: 4px;
        font-weight: 600;
        font-size: 12px;
        color: #fff;
    }
    .orderedTitle {
        margin-top: 4px;
        font-size: 12px;
        color: #3bab9f;
        font-weight: 600;
    }
    .confirmedComment {
        margin-top: 12px;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
    }
    .orderedComment {
        margin-top: 12px;
        font-size: 12px;
        color: #000;
        font-weight: 500;
    }
}
