.datapicker {
    font-family: Roboto;
    :global {
        .DayPicker-Day--selected {
            width: 23px;
            height: 23px;
            line-height: 1;
            text-align: center;
        }
    }
}
