@import '../../styles/endpoints.scss';
.gridContainer {
	display: grid;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.cell {
	min-height: 20px;
	@media screen and (max-width: $isMobile) {
		min-width: 60px;
	}
	border: 1px solid #eeedee;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
		background: rgb(230, 230, 230);
	}
}
.selected {
	border-radius: 5px;
	background-color: #1e8cff;
	&:hover {
		background: rgba(#1f8cff, 0.77);
	}
}
.hovered {
	background: rgb(230, 230, 230) !important;
	border: 1px solid rgb(184, 184, 184);
}
