.time_grid {
	margin: 20px;
	min-height: 250px;
}
.time_grid.empty {
	display: flex;
	justify-content: center;
	align-items: center;
}
.emptyDay_shedule {
	display: inline-block;
}

.time_grid__item {
	padding: 15px;
	border-radius: 25px;
	font-size: 14px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	float: left;
	font-weight: bold;
	background-color: rgb(232, 232, 232);
}

.time_grid__item-disable {
	color: grey;
	/* display: none; */
	cursor: not-allowed;
}

.time_grid__item-selected {
	background: #4a90e2;
	color: #fff;
}

.time_grid__item:hover {
	/* background-color: rgba(200, 200, 200, 0.86); */
	/* background-color: #f0f8ff; */
}
