@import './style.scss';

.-hair {
    background-image: $hair;
}
.-nails {
    background-image: $nails;
}
.-body {
    background-image: $body;
}
.-face {
    background-image: $face;
}
.-tattoo {
    background-image: $tattoo;
}
.-cosmetology {
    background-image: $cosmetology;
}
.-massage {
    background-image: $massage;
}

.-hair-image {
    background-image: $hair-image, $hair;
}
.-nails-image {
    background-image: $nails-image, $nails;
}
.-body-image {
    background-image: $body-image, $body;
}
.-face-image {
    background-image: $face-image, $face;
}
.-tattoo-image {
    background-image: $tatoo-image, $tattoo;
}
.-cosmetology-image {
    background-image: $cosmetology-image, $cosmetology;
}
.-massage-image {
    background-image: $massage-image, $massage;
}
