@import './variable.scss';

body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    height: 100vh;
    overflow-x: hidden;
    :global #root {
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }
}

.hidden-scroll {
    overflow-y: hidden;
}

.-hair {
    background-color: $hair;
}
.-nails {
    background-color: $nails;
}
.-body {
    background-color: $body;
}
.-face {
    background-color: $face;
}
.-tattoo {
    background-color: $tattoo;
}
.-cosmetology {
    background-color: $cosmetology;
}
.-massage {
    background-color: $massage;
}
