.container {
    border: 1px solid rgba(204, 204, 204, 0.7);
    border-radius: 12px;
    padding: 16px;
    display: inline-flex;
    flex-direction: column;
    // position: relative;
    // top: -65px;
    .topLine {
        display: flex;
        align-items: center;
        font-size: 12px;
        .rating {
            margin: 0 5px;
        }
        .feedbacksCount {
            margin-left: auto;
        }
    }
    .lines {
        display: flex;
        flex-direction: column;
        .line {
            display: flex;
            align-items: center;
            font-size: 12px;
            .mark {
                min-width: 10px;
            }
            .icon {
                height: 20px;
            }
            .yellow {
                width: 200px;
                margin: 0 10px;
            }
            .count {
                color: #767676;
            }
        }
    }
}
