.container {
    border-bottom: 2px solid rgba(235, 87, 87, 0.75);
    // background-color: red;
    z-index: 1;
}
.time {
    color: #eb5757;
    z-index: 4;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 6px;
    // margin-left: 23px;
}
