$maxWidth: 80vw;
$maxHeiht: 80vh;
.container {
    min-width: 300px;
    padding: 20px 25px;
    // max-height: 90vh;
    max-width: $maxWidth;

    .buttonContainer {
        padding-top: 25px;
        display: flex;
        justify-content: flex-end;
    }
    .dataContainer {
        overflow: auto;
        display: flex;
        justify-content: center;
        max-height: calc(80vh - 125px);
        min-height: 400px;
        max-width: $maxWidth;
    }
    .button {
        margin-left: 20px;
        font-size: 0.8em;
    }
}
