.tabsContainer {
    padding: 16px 0px;
    width: 100%;
    ::-webkit-scrollbar {
       display: none;
    }
    .tabs {
        white-space: nowrap;
        overflow: auto;
        .tabsButton {
            font-size: 12px;
            color: #000;
            font-weight: 400;
            border-radius: 6px;
            border: 1px solid #DADADA;
            padding: 9px 16px;
            background-color: #FFF;
            &:hover {
                border: 1px solid #FA835F;
            }
            margin-right: 10px;
            cursor: pointer;
            font-family: Montserrat;
        }
        .selected {
            background-color: #E5E1FF;
            border-color: #6D57F5;
        }
    }
} 