.item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	overflow: hidden;
	font-size: 1rem;
	box-sizing: border-box;
	min-height: 48px;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	padding-top: 6px;
	white-space: nowrap;
	letter-spacing: 0.00938em;
	padding-bottom: 6px;
	padding-left: 22px;
	padding-right: 22px;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.08);
	}
}
