.container {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    .locationIcon {
        font-size: 1.2em;
    }
    .city {
        margin-left: 3px;
    }
}
